.profile-box[data-v-53d48e27]{display:flex;gap:1rem;margin:1rem 0}.profile-box img[data-v-53d48e27]{max-width:120px}pre[data-v-53d48e27]{background:white;padding:1rem;overflow-x:auto;white-space:pre}
